
body header:nth-child(1) {
    background-image: url(Homepage-Model-3-Desktop-US.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}


body header:nth-child(2) {
    background-image: url(pic2.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}


body header:nth-child(3) {
    background-image: url(pic3.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}



body header:nth-child(4) {
    background-image: url(pic4.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}



body header:nth-child(5) {
    background-image: url(pic5.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}



body header:nth-child(6) {
    background-image: url(Homepage-SolarPanels-01-Desktop.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}


body header:nth-child(7) {
    background-image: url(pic7.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}



body header:nth-child(8) {
    background-image: url(pic8.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}



body header:nth-child(9) {
    background-image: url(pic9.avif);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: cover;
}

.extra-pad{
    padding-bottom: 25rem;
}